.card {
  max-width: 600px;
  margin: 0 auto;
  border: none;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.text-success {
  color: var(--success-color) !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--light-color);
}

.img-thumbnail {
  border: 3px solid var(--primary-color);
}
