.progress-container {
  position: relative; /* Alterado de absolute para relative */
  margin-top: 10px;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 3px;
}

.progress-bar {
  height: 20px; /* Aumentado de 10px para 20px */
  border-radius: 3px;
  background-color: #ffa500; /* Cor laranja */
  width: 0%;
  transition: width 0.3s ease-in-out; /* Adicionada transição suave */
}

/* Restante do CSS permanece o mesmo */
.camera-container {
  border: 3px dashed var(--dark-color);
  border-radius: 10px;
  background-color: var(--light-color);
  position: relative;
  overflow: hidden;
}

.foto-preview {
  height: 240px;
  border: 3px dashed var(--dark-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
  position: relative;
}

.photo-counter {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-color);
  color: var(--dark-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.btn-secondary {
  background-color: var(--dark-color);
  color: var(--secondary-color);
  border-color: var(--dark-color);
}

.btn-secondary:hover {
  background-color: #333;
  color: var(--secondary-color);
}
