:root {
  --primary-color: #ffa500;
  --secondary-color: #ffd700;
  --dark-color: #000000;
  --light-color: #ffffff;
}

body {
  background-color: #f8f9fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 15px;
  border: 2px solid var(--dark-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  background: linear-gradient(
    135deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--dark-color);
  border-bottom: 2px solid var(--dark-color);
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}
